In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.shape

(1143, 15)

In [4]:
df.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [5]:
#check null values
df.isnull().sum()

ad_id                    0
reporting_start          0
reporting_end            0
campaign_id              0
fb_campaign_id           0
age                      0
gender                   0
interest1                0
interest2                0
interest3                0
impressions              0
clicks                   0
spent                    0
total_conversion       382
approved_conversion    382
dtype: int64

In [6]:
df.columns

Index(['ad_id', 'reporting_start', 'reporting_end', 'campaign_id',
       'fb_campaign_id', 'age', 'gender', 'interest1', 'interest2',
       'interest3', 'impressions', 'clicks', 'spent', 'total_conversion',
       'approved_conversion'],
      dtype='object')

Total number of impression for age 30-34

In [7]:
df[df['age']=='30-34']['impressions'].count()

327

Total value(sum) of impression for age 30-34

In [8]:
df[df['age']=='30-34']['impressions'].sum()

35678593.0

In [15]:
adv=df.groupby(['ad_id','campaign_id']).size().reset_index()

In [10]:
adv

        ad_id campaign_id  0
0      708746         916  1
1      708749         916  1
2      708771         916  1
3      708815         916  1
4      708818         916  1
...       ...         ... ..
1138  1314410       45-49  1
1139  1314411       45-49  1
1140  1314412       45-49  1
1141  1314414       45-49  1
1142  1314415       45-49  1

[1143 rows x 3 columns]

get total clicks where report_start between dates 19/08/2017 to 22/08/2017

In [49]:
val = df[['reporting_start','clicks']]
val

     reporting_start  clicks
0         17/08/2017       1
1         17/08/2017       2
2         17/08/2017       0
3         30/08/2017       1
4         17/08/2017       1
...              ...     ...
1138      19/08/2017      13
1139      19/08/2017       3
1140      19/08/2017       2
1141      17/08/2017       8
1142      17/08/2017       5

[1143 rows x 2 columns]

In [66]:
df.reporting_start.unique()

array(['17/08/2017', '30/08/2017', '29/08/2017', '18/08/2017',
       '19/08/2017', '27/08/2017', '26/08/2017', '25/08/2017',
       '28/08/2017', '20/08/2017', '21/08/2017', '24/08/2017',
       '23/08/2017', '22/08/2017'], dtype=object)

In [68]:
#changing vales of date to count
val['reporting_start']=val['reporting_start'].map({'17/08/2017':0, '30/08/2017':0, '29/08/2017':0, '18/08/2017':0,
       '19/08/2017':1, '27/08/2017':0, '26/08/2017':0, '25/08/2017':0,
       '28/08/2017':0, '20/08/2017':2, '21/08/2017':3, '24/08/2017':0,
       '23/08/2017':0, '22/08/2017':4})

C:\Users\deepa\AppData\Local\Temp/ipykernel_17664/2003317983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['reporting_start']=val['reporting_start'].map({'17/08/2017':0, '30/08/2017':0, '29/08/2017':0, '18/08/2017':0,

In [69]:
val.clicks

      reporting_start  clicks
0                   0       1
1                   0       2
2                   0       0
3                   0       1
4                   0       1
...               ...     ...
1138                1      13
1139                1       3
1140                1       2
1141                0       8
1142                0       5

[1143 rows x 2 columns]

total clicks

In [71]:
val[val['reporting_start']>0]['clicks'].count()

396

total number of clicks

In [72]:
val[val['reporting_start']>0]['clicks'].sum()

3763